{% extends "_layouts/cp" %}

{% set title = "New Invoice"|t('leaflet') %}
{% set pageTitle = "New Invoice"|t('leaflet') %}
{% set selectedSubnavItem = 'invoices' %}

{% block content %}
{% endblock %}