{% extends "_layouts/cp" %}

{% set title = "Invoices"|t('leaflet') %}
{% set pageTitle = "Invoices"|t('leaflet') %}
{% set selectedSubnavItem = 'invoices' %}
{% set invoices = craft.entries().section('invoices').all() %}

{% block content %}
    {% for invoice in invoices %}
        <h1>{{ invoice.uid }}</h1>
        <ul>
            {% for work in invoice.invoiceWork %}
                <li>{{ work.title }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}