{% extends '_layouts/app.twig' %}
{% set pageTitle = 'Invoice Details' %}

{% block content %}
  <div class="row">
    <div class="d-none col d-lg-block">
      <div class="card">
        <div class="card-body">
          <h4>{{ entry.invoiceClient.one().title }}</h4>
          <p><i class="far fa-clock"></i> {{ craft.leaflet.invoice.sumHours(entry) }} </p>
          <p><i class="fas fa-tachometer-alt"></i> ${{ entry.invoiceClient.one().clientRate }}</p>
          <p>{{ craft.leaflet.invoice.billableCost(entry) | currency }}</p>
          <h5 class="text-muted mt-4">Jobs</h5>
          {% for job in craft.leaflet.invoice.jobs(entry) %}
            <div><i>({{ craft.leaflet.invoice.sumHoursForJob(entry, job) }})</i> {{ job.title }}</div>
          {% endfor %}
          <form method="POST" class="mt-3">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="leaflet/invoice-pdfs/create">
            <input type="hidden" name="invoiceId" value="{{ entry.id }}">
            <button class="btn btn-primary">Generate PDF</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-md-12 col-lg-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="card-title">{{ entry.invoiceNumberPrefix }}{{ entry.invoiceNumber }}</h4>
            </div>
            <div class="col">
              <div class="text-right">
                {% if entry.invoiceSentAt %}
                  <i class="fab fa-telegram-plane"></i>
                  <span>{{ entry.invoiceSentAt.format('Y-m-d') }}</span>
                {% else %}
                  <span>Not Sent</span>
                {% endif %}
              </div>
              <div class="text-right">
                {% if entry.invoicePaidAt %}
                  <i class="far fa-money-bill-alt"></i>
                  <span>{{ entry.invoicePaidAt.format('Y-m-d') }}</span>
                {% else %}
                  <span>Not Paid</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <table class="table">
                <thead>
                <tr>
                  <th>Item</th>
                  <th>Description</th>
                  <th>Job</th>
                  <th>Hours</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% set invoiceWork = craft.entries().section('work').relatedTo(entry).all() %}
                {% for work in invoiceWork %}
                  <tr>
                    <td>{{ work.title }}</td>
                    <td>{{ work.workDescription }}</td>
                    <td>{{ work.workJob.one().title ?? 'Missing Job' }}</td>
                    <td>{{ work.workHours }}</td>
                    <td>{{ work.workDate.format('Y-m-d') }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}