{% extends '_layouts/app.twig' %}
{% set pageTitle = 'New Invoice' %}
{% set clients = craft.entries().section('clients').orderBy('title').all() %}
{% requireLogin %}

{% block content %}
  <invoice-create :clients="{{ craft.leaflet.json.elementsToJson(craft.entries().section('clients').all()) | json_encode }}" inline-template>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form method="POST" accept-charset="UTF-8">
              {{ csrfInput() }}
              <input type="hidden" name="action" value="entries/save-entry">
              {{ redirectInput('invoices/{uid}') }}
              <input type="hidden" name="sectionId"
                     value="{{ craft.app.sections.getSectionByHandle('invoices').id ?? null }}">
              <input type="hidden" name="enabled" value="1">
              <input type="hidden" name="entryId" value="">
              <input type="hidden" name="invoiceWork[]" v-for="id in workIds" :value="id">

              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <h4 class="text-muted">Invoice Details</h4>
                  <div class="form-group row">
                    <label class="col-sm-4 col-md-3 col-form-label" for="invoice-client">Client</label>
                    <div class="col-sm-8 col-md-9">
                      <select class="form-control" v-model="clientId" name="fields[invoiceClient][]" id="invoice-client" required>
                        <option value="">-- Choose Client --</option>
                        {% for client in clients %}
                          <option value="{{ client.id }}">{{ client.title }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-md-3 col-form-label" for="invoice-client">Project</label>
                    <div class="col-sm-8 col-md-9">
                      <div class="form-check form-check-inline" v-for="p in projects" v-show="projects.length">
                        <input class="form-check-input" v-model="projectId" type="checkbox" :id="'project-' + p.id"
                               :value="p.id">
                        <label class="form-check-label" :for="'project-' + p.id">${p.title}</label>
                      </div>
                      <div class="alert alert-secondary mb-0" role="alert" v-show="projects.length < 1">
                        Select a client to view its projects.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="invoice-number" class="col-sm-4 col-md-3 col-form-label">Invoice Number</label>
                    <div class="col-sm-8 col-md-9">
                      <input name="fields[invoiceNumber]" class="form-control" :placeholder="recentInvoiceNumber" required>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <h4 class="text-muted">Billable Info</h4>
                  <div class="row">
                    <div class="col text-center">
                      <h3>${totalHours}</h3>
                    </div>
                    <div class="col text-center">
                      <h3>$${totalCost}</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <h5>Hours</h5>
                    </div>
                    <div class="col text-center">
                      <h5>Billable</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <table class="table mt-4">
                  <thead>
                  <tr>
                    <th><input type="checkbox" v-model="workCheckAll"></th>
                    <th>Item</th>
                    <th>Job</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Rate</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="w in work" v-show="work && work.length">
                    <td><input type="checkbox" v-model="workIds" :value="w.id"></td>
                    <td>
                      <div>${w.title}</div>
                      <div class="text-muted">${w.description}</div>
                    </td>
                    <td>${w.job.title}</td>
                    <td>${w.date}</td>
                    <td>${w.hours}</td>
                    <td>$${getWorkRate(w)}</td>
                  </tr>
                  <tr v-show="!work || work.length < 1">
                    <td colspan="6">
                      <div class="alert alert-secondary" role="alert">
                        No project work available.
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="4"><b>Total</b></td>
                    <td>${totalHours}</td>
                    <td>$${totalCost}</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" role="button" type="submit">Create Invoice</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </invoice-create>
{% endblock %}