{% extends '_layouts/app.twig' %}
{% set pageTitle = 'Invoices' %}
{% set invoices = craft.entries().section('invoices').with(['work']).all() %}

{% block contentAction %}
  <a class="btn btn-primary" href="/invoices/create" role="button">Create</a>
{% endblock %}

{% block content %}
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Number</th>
              <th>Client</th>
              <th>Jobs</th>
              <th>Hours</th>
              <th>Cost</th>
              <th>Invoiced</th>
              <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            {% if invoices is empty %}
              <tr>
                <td colspan="7">
                  <div class="alert alert-secondary" role="alert">
                    No invoices have been created yet.
                  </div>
                </td>
              </tr>
            {% else %}
              {% for invoice in invoices %}
                <tr>
                  <td>
                    <a href="/invoices/{{ invoice.uid }}">{{ craft.leaflet.invoice.displayUid(invoice) }}</a>
                  </td>
                  <td>{{ invoice.invoiceNumberPrefix }}{{ invoice.invoiceNumber }}</td>
                  <td>{{ invoice.invoiceClient.one().title ?? 'No Client' }}</td>
                  <td>
                    {% for job in craft.leaflet.invoice.jobs(invoice) %}
                      <div>{{ job.title }}</div>
                    {% endfor %}
                  </td>
                  <td>{{ craft.leaflet.invoice.sumHours(invoice) }}</td>
                  <td>{{ craft.leaflet.invoice.billableCost(invoice) | currency }}</td>
                  <td>{{ invoice.invoiceSentAt ? 'yes' : 'no' }}</td>
                  <td>{{ invoice.invoicePaidAt ? 'yes' : 'no' }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}