{% extends '_layouts/base.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
        <a class="navbar-brand" href="/">{{ currentSite.name }}</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/invoices">Invoices</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        <nav class="nav justify-content-between">
            <a class="nav-link">{% if pageTitle is defined %}{{ pageTitle }}{% else %}{{ currentSite.name }}{% endif %}</a>
            <a class="nav-link">
                {% block contentAction %}{% endblock %}
            </a>
        </nav>
        {% block content %}{% endblock %}
    </main>
{% endblock %}