<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}{{ currentSite.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/app.css">

    {% set csrfToken = {
        csrfTokenName: craft.app.config.general.csrfTokenName,
        csrfTokenValue: craft.app.request.csrfToken,
    } %}

    <script type="text/javascript">
        window.Craft = {{ csrfToken|json_encode|raw }};
    </script>
</head>
<body>
    <div id="app" v-cloak>
        {% block body %}{% endblock %}
    </div>

    <script type="application/javascript" src="/js/app.js"></script>
</body>
</html>