<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ invoice.invoiceNumberPrefix }}{{ invoice.invoiceNumber }}</title>
</head>

<body>
  <h1>{{ invoice.invoiceNumber }}</h1>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for work in invoice.invoiceWork %}
        <tr>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>